<mat-toolbar color="primary">
  <div class="logo">Bookmarker</div>

  <!-- Search bar for high resolutions > 500px -->
  <div class="w-100 search-container desktop">

    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <mat-form-field>
        <input type="text" matInput formControlName="searchQuery" placeholder="Filter bookmarks..." (input)="onUserTyping($event)" />
        <mat-icon class="search-icon" matSuffix (ngSubmit)="onSearch()" (click)="onSearch()">search</mat-icon>
      </mat-form-field>
    </form>

  </div>

</mat-toolbar>

<!-- Search bar for mobile resolutions: max-width: 500px -->
<form class="mobile" [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <mat-form-field class="w-100">
    <input type="text" matInput formControlName="searchQuery" placeholder="Filter bookmarks..." (input)="onUserTyping($event)" />
    <mat-icon class="search-icon" matSuffix (ngSubmit)="onSearch()" (click)="onSearch()">search</mat-icon>
  </mat-form-field>
</form>

<div class="container">
  <div class="centered-div">
    <router-outlet></router-outlet>
  </div>
</div>
